
img {
    border: none;
    margin: 0 10px 10px 10px;
    padding: 0;
}

.nivoSlider {
    margin-left: auto;
    margin-right: auto;
    position:relative;
    width:1200px;
    height:260px;
    margin-bottom: 120px;
    overflow: hidden;
    font-family: 'Trebushet MS',Oswald, arial, helvetica , sans-serif;
    z-index:1;
}

.nivoSlider img {
    position:absolute;
    top:0;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    z-index:1;
}
.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 1200px !important;
    z-index:1;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption  {
    display:none;

}

.nivo-caption h2 {
    display:none;

}

.nivo-caption h3 {
    display:none;

}

.nivo-caption a {
    display:none;

}

.nivo-html-caption {
    display:none;

}

#topomenu {
    margin-top: 0;
    position: relative;
    width: 100%;
    background: url('http://186.202.186.235/images/fundomenu.png');
    height: 213px;
}

#sep {
    width: 100%;
    height: 6px;
    background: url('http://186.202.186.235/images/sep.png');
}

#sep div {
    padding: 15px 18px 0 18px;
    margin: 0;
    display: block;
    font-weight: normal;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Trebushet MS',Oswald, arial, helvetica , sans-serif;
    text-shadow: 0.1em 0.1em 0.2em black;
}